@*@{
    ViewData["Title"] = "Home Page";
}
@{
    <a href="/Account/Logout">Sign Out</a>

}



<div>
    <div>
        @Html.ActionLink("Add a Project", "AddProject", "Project")
    </div>
    <div>
        @Html.ActionLink("Awaiting Approvals", "ApproveProjects", "Project")
   @*     list of submissions awaiting approval in a table*@
 @*   </div>

    <div>
        @Html.ActionLink("List All Projects", "GetAllProject", "Project")
    </div>
   
    <div>
        @Html.ActionLink("List all Users", "GetAllUsers", "User")
    </div>

   
</div>
*@

@*<div class="home-banner text-center">
    <h1 class="display-5 text-light">Safe &amp; Transparent Research</h1>
    <p class="text-light mb-5 fs-6">Search and discover the types of research this trusted platform is enabling for public good.</p>
    <div class="col-xl-4 col-lg-6 col-md-8 mx-auto">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0">
            <input type="search" class="form-control border-0" placeholder="Search..." aria-label="Search">
        </form>
    </div>
</div>*@
<div class="container mt-5">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-5 g-4">
        <div class="col">
            <a asp-area="" asp-controller="Project" asp-action="AddProjectMembership" class="card shadow-sm">
                <img class="card-img-top" src="/img/shutterstock_1081970570-Reduced-740x481.jpg" alt="Projects image" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="m-0 text-dark fs-5">Add People</h4>
                        <span class="badge bg-dark-blue rounded-pill">X</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a asp-area="" asp-controller="User" asp-action="GetAllUsers" class="card shadow-sm">
                <img class="card-img-top" src="/img/shutterstock_376975414-740x481.jpg.webp" alt="People image" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="m-0 text-dark fs-5">Approve Membership</h4>
                        <span class="badge bg-dark-blue rounded-pill">X</span>
                    </div>
                </div>
            </a>
        </div>
       


    </div>
</div>
@*<div class="container my-5">
    <div class="col-lg-8 mx-auto">
        <h3 class="text-center mb-4">About TRE FX</h3>

        <p>TRE FX was developed by UKRI's DARE UK to support fast and efficient sharing, linkage, and advanced analysis of sensitive data in an ethical and secure manner.</p>
        <p>TRE FX allows approved researchers to work with a ‘federated’ network of trusted research environments (TREs) by querying the data held by different TREs from one location - meaning the data doesn't have to be joined or moved from its secure location and the researcher saves time by submitting a query once for multiple TREs.</p>
        <p>The platform adopts a transparent approach and is open for the public to see what research is being conducted across the different TREs and also opens up the possibility of more collaboration in the research community.</p>
    </div>
</div>*@