<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        @*   Editable table*@
    </h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2">
                <a href="#!" class="text-success"><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
            </span>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">Project Name</th>
                        <th class="text-center">User</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">End Date</th>
                        <th class="text-center">Local Project Name</th>
                        <th class="text-center">Approved By</th>

                        <th class="text-center">#</th>
                    </tr>
                </thead>
                <tbody>
                    @* <tr>
                    <td class="pt-3-half" contenteditable="true">Patricia</td>
                    <td class="pt-3-half" contenteditable="true">Project1</td>

                    <td class="pt-3-half">
                    <span class="table-up">
                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                    </span>
                    <span class="table-down">
                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                    </span>
                    </td>
                    <td>
                    <span class="table-remove">
                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                    Remove
                    </button>
                    </span>
                    </td>
                    </tr>*@
                    <!-- This is our clonable table line -->
                    <tr>
                        <td class="pt-3-half" contenteditable="true">Patricia</td>
                        <td class="pt-3-half" contenteditable="true">User12</td>
                        <td class="pt-3-half" contenteditable="true">2023-07-04</td>
                        <td class="pt-3-half" contenteditable="true">2023-07-18</td>
                        <td class="pt-3-half" contenteditable="true"></td>
                        <td class="pt-3-half" contenteditable="true">
                            <span class="table-up">
                                <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                            </span>
                            <span class="table-down">
                                <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                            </span>
                        </td>
                        <td>
                            <span class="table-remove">
                                <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                    Approve
                                </button>
                            </span>
                        </td>
                    </tr>
                    <!-- This is our clonable table line -->
                    <tr>
                        <td class="pt-3-half" contenteditable="true">Project1</td>
                        <td class="pt-3-half" contenteditable="true">User12</td>
                        <td class="pt-3-half" contenteditable="true">2023-07-04</td>
                        <td class="pt-3-half" contenteditable="true">2023-07-18</td>
                        <td class="pt-3-half" contenteditable="true"></td>
                        <td class="pt-3-half" contenteditable="true">
                            <span class="table-up">
                                <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                            </span>
                            <span class="table-down">
                                <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                            </span>
                        </td>
                        <td>
                            <span class="table-remove">
                                <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                    Approve
                                </button>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-3-half" contenteditable="true">Projecttest</td>
                        <td class="pt-3-half" contenteditable="true">User12</td>
                        <td class="pt-3-half" contenteditable="true">2023-05-07</td>
                        <td class="pt-3-half" contenteditable="true">2023-05-08</td>
                        <td class="pt-3-half" contenteditable="true"></td>
                        <td class="pt-3-half" contenteditable="true">
                            <span class="table-up">
                                <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                            </span>
                            <span class="table-down">
                                <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                            </span>
                        </td>
                        <td>
                            <span class="table-remove">
                                <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                    Approve
                                </button>
                            </span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Editable table -->