@using BL.Models.DTO
@*@model ProjectUserEndpoint*@
@model BL.Models.ProjectApproval
@{
    ViewData["Title"] = "Edit @Model.Name";
}

<div class="container-lg mt-4 p-4 bg-white border-1 shadow-sm">

    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h1 class="fs-3 mb-0">Approve Membership</h1>

        </div>
      
    </div>
    <div class="mt-4">
        <ul class="nav nav-underline border-bottom" id="myTab" role="tablist">
      
        
        </ul>


        <div class="tab-content py-5" id="myTabContent">
            <div class="tab-pane fade show active" id="project" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-6">
                        <form method="post" asp-action="EditMembership">
                            <div asp-validation-summary="All"></div>
                            <input asp-for="Id" hidden />
                            <div class="form-group mb-4">
                                <label asp-for="Projectname">Project Name</label>
                                <input asp-for="Projectname" class="form-control form-control-md" />
                                <span asp-validation-for="Projectname" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="Username">User Name</label>
                                <input asp-for="Username" class="form-control form-control-md" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="LocalProjectName">Local Project Name</label>
                                <input asp-for="LocalProjectName" class="form-control form-control-md" />
                                <span asp-validation-for="LocalProjectName" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="Approved">Approved</label>                              
                                <input asp-for="Approved" class="form-control form-control-md" />
                                <span asp-validation-for="Approved" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="ApprovedBy">Approved By</label>
                                <input asp-for="ApprovedBy" class="form-control form-control-md" />
                                <span asp-validation-for="ApprovedBy" class="text-danger"></span>
                            </div>
                            <div class="mt-5 d-flex align-items-center">
                                <button type="submit" class="btn btn-md btn-primary mr-2">Approve</button>
                                <a href="@Url.Action("RemoveUserFromProject", "Project", new { id = Model.ProjectId })" class="btn btn-link">
                                    Remove
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

     
    </div>

 
</div>