@model ProjectsAndEndpoints

@*
<div class="row mb-3">
    <div class="col-3">
        <label asp-for="Projects" class="form-label">Pool ID</label>
        <select asp-for="Projects" asp-items="@ListProjects" class="form-control selectpicker">
            <option selected="selected" value="">Please select</option>
        </select>
    </div>
</div>
<div class="row mb-3">
        <div class="col-3">
            <label asp-for="Endpoints" class="form-label">Pool ID</label>
        <select asp-for="Endpoints" asp-items="@ListPools" class="form-control selectpicker">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>

    </div>*@