@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using BL.Models;

@model BL.Models.ProjectMembership;
@{
    var ListPools = ViewBag.Pools;
}
<a asp-controller="Organisations" asp-action="Show" class="btn btn-link px-0">
    Back to Organisations
</a>
<h1 class="mb-4">Organisation</h1>
<form method="post" asp-action="Save">
    <input type="number" asp-for="Id" class="form-control" hidden />
    <div class="row mb-3">
        <div class="col-6">
            <label asp-for="Users" class="form-label"></label>
            <input onkeydown="return /[a-z]/i.test(event.key)" type="text" asp-for="Users" class="form-control" />
        </div>
    </div>

    <div class="mt-5 d-flex align-items-center">
        <button type="submit" class="btn btn-md btn-primary mr-2">Save</button>
        <a asp-controller="Organisations" asp-action="Show" class="btn btn-link">
            Cancel
        </a>
    </div>
</form>