
@model List<BL.Models.DataFiles>

@{
    ViewData["Title"] = "GetAllFiles";
    var filesCount = Model.Count;
}
@*<form method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple required />
    <input type="text" autocomplete="off" placeholder="Enter File Description" name="description" required />
    <button class="btn btn-success" type="submit" asp-controller="Data" asp-action="UploadToDatabase">Upload to Database</button>
</form>*@
<hr />
@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewBag.Message
    </div>
}

<h4>File System</h4>
@if (Model.Count == 0)
{
    <caption>No Records Found</caption>
}
else
{
    <caption>List of Files on File System</caption>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
            <th>Sub Id</th>
                <th>File Size</th>
                <th>File Type</th>
            <th>File Name</th>
                <th>Last Update</th>
            <th>Actions</th>
            <th>Reviewer</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model)
            {
                <tr>
                   <th>file.Id</th>
                    <td>file.submissionId</td>
                    <td>file.FileSize</td>
                    <td>file.FileType</td>
                    <td>file.FileName</td>
                    <td>file.LastUpdate</td>
            <td>file.FileStatus</td>
         
            <td>file.Reviewer</td>
                    <td>
                <a type="button" class="btn btn" asp-controller="File" asp-action="UpdateFileSystem" asp-route-id="">Approve</a>
                        <a type="button" class="btn btn-danger" asp-controller="File" asp-action="UpdateFileSystem" asp-route-id="Reject"></a>
                        <a type="button" class="btn btn-primary" asp-controller="File" asp-action="DownloadFileFromFileSystem" asp-route-id="">Download</a>
                    
                    </td>
                </tr>
            }
            <a type="button" class="btn btn-info" asp-controller="File" asp-action="PostDataOut" asp-route-id="">Complete</a>
        </tbody>
    </table>
}