@Html.AntiForgeryToken()
@model List<BL.Models.DataFiles>
@{
    ViewData["Title"] = "Unprocessed File(s)";
    var filecount = ViewBag.Filecount;

}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewBag.Message
    </div>
}


@if (Model.Count == 0)
{
    <h3 class="fs-3 mb-0">No records found!</h3>
}

else
{
    <div class="container-lg p-4">
        <div class="d-flex align-items-center justify-content-between">
            <h1 class="fs-3 mb-0">File System</h1>

     
        </div>
        <hr class="d-flex my-4">
        <div class="table-responsive">
            <table id="fileList" class="table table-bordered table-striped no-head" caption="List of Files">
                <thead><tr><td>Project</td></tr></thead>
                <tbody>
                    @foreach (var file in Model)
                    {
                        <tr>
                            <td class="card mb-2 p-3 bg-white shadow-sm border-1">

                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div>
                                        <a href="@Url.Action("GetFiles", "Data", new {id = file.SubmissionId })">
                                            <h2 class="mb-0 fw-bold hover-underline fs-5">
                                                Submission Id: @file.SubmissionId
                                            </h2>
                                            <p class="my-4">

                                                FileCount:   @filecount

                                            </p>
                                     
                                    </a>
                                  
                                    </div>
                                     <div class="">
                                        <a href="@Url.Action("GetFiles", "Data",new{id=@file.SubmissionId})" class="btn btn-sm btn-outline-primary"><span class="small">Review</span></a>
                                    </div>
                                </div>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
}