@using Project_Admin.Models
@model Project_Admin.Models.ProjectModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <td>@Model.Name</td>
}
