@model List<BL.Models.Project>
@{
    ViewData["Title"] = "Project List";
}

<div class="">
    <div class="d-flex align-items-center justify-content-between">
        <h1 class="g-font-size-28 my-2">Projects</h1>
        <a asp-controller="Project" asp-action="AddProjectForm" class="btn btn-xl u-btn-secondary g-font-size-default">
            <i class="hs-admin-plus align-middle mr-2 g-font-weight-600"></i>
            <span>Create Project</span>
        </a>
    </div>
    <hr class="d-flex g-brd-gray-light-v7 mt-4 g-mb-30">
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <th>Project Name</th>
        <th>Users on Project</th>
        <th>Endpoints attached to Project</th>
        </thead>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Name</td>
                <td>
                    
                    <table>
                        @foreach (var user in project.Users)
                        {
                            <tr>
                                <td>
                                    @user.Name
                                </td>
                            </tr>
                        }
                    </table>
                </td>
                <td>
                    <table>
                        @foreach (var endpoint in project.Endpoints)
                        {
                            <tr>
                                <td>
                                    @endpoint.Name
                                </td>
                            </tr>
                        }
                    </table>
                    
                </td>
            </tr>
        }
    </table>
        
</div>


                
