@model BL.Models.User

@{

    ViewData["Title"] = "User";
}

<div class="container">
    <div class="d-flex align-items-center justify-content-between">
        <h1 class="g-font-size-28 my-2">User</h1>
    </div>
    <h1>@Model.Name</h1>

    <div class="user-attribute col-sm-8">
        <table>

            <tr><td>Start Date @Model.Name</td></tr>
            <tr><td>End Date @Model.Email</td></tr>


            <div class="clearfix"></div>
            <div class="col-sm-12">
                <button type="submit" style="margin:5px;" name="submit" value="cancel" class="btn btn-primary btn-lg" onclick="location.href='/'">Home Page</button>
            </div>
            <div draggable="auto" class="clearfix"></div>

    </div>


