<div class="home-banner text-center">
    <h1 class="display-5 fw-bold text-light mb-5">Safe &amp; Transparent Research</h1>
    <div class="col-lg-4 mx-auto">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </div>
</div>
<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        <div class="col">
            <a href="#" class="card shadow-sm">
                <img class="card-img-top" src="/img/ezgif-6-c351adb73f22.webp" alt="People image" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="m-0">Projects</h4>
                        <span class="badge bg-primary rounded-pill">3</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="#" class="card shadow-sm">
                <img class="card-img-top" src="/img/ezgif-6-c351adb73f22.webp" alt="People image" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="m-0">People</h4>
                        <span class="badge bg-primary rounded-pill">3</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="#" class="card shadow-sm">
                <img class="card-img-top" src="/img/ezgif-6-c351adb73f22.webp" alt="People image" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="m-0">Submissions</h4>
                        <span class="badge bg-primary rounded-pill">3</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="#" class="card shadow-sm">
                <img class="card-img-top" src="/img/ezgif-6-c351adb73f22.webp" alt="People image" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="m-0">TREs</h4>
                        <span class="badge bg-primary rounded-pill">3</span>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
<div class="container my-5">
    <div class="col-lg-8 mx-auto">
        <h3 class="text-center">About TRE FX</h3>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
    </div>
</div>